{
   "bit" : (rs_type: "bool", copyable: true, serializable: true),
    "bool" : (rs_type: "bool", copyable: true, serializable: true),
    "box" : (rs_type: "geo::Rect<f64>", copyable: false, serializable: true),
    "bpchar" : (rs_type: "String", copyable: false, serializable: true),
    "bytea" : (rs_type: "Vec<u8>", copyable: false, serializable: true),
    "char" : (rs_type: "String", copyable: false, serializable: true),
    "cstring": (rs_type: "std::ffi::CString", copyable: false, serializable: true),
    "date" : (rs_type: "chrono::NaiveDate", copyable: true, serializable: true),
    "float4" : (rs_type: "f32", copyable: true, serializable: true),
    "float8" : (rs_type: "f64", copyable: true, serializable: true),
    "inet" : (rs_type: "std::net::IpAddr", copyable: true, serializable: false),
    "int2" : (rs_type: "i16", copyable: true, serializable: true),
    "int4" : (rs_type: "i32", copyable: true, serializable: true),
    "int8" : (rs_type: "i64", copyable: true, serializable: true),
    "interval" : (rs_type: "chrono::Duration", copyable: true, serializable: true),
    "json" : (rs_type: "serde_json::Value", copyable: false, serializable: true),
    "jsonb" : (rs_type: "serde_json::Value", copyable: false, serializable: true),
    "line" : (rs_type: "geo::Line<f64>", copyable: false, serializable: true),
    "lseg" : (rs_type: "geo::Line<f64>", copyable: false, serializable: true),
    "ltree" : (rs_type: "String", copyable: false, serializable: true),
    "macaddr" : (rs_type: "eui48::MacAddress", copyable: true, serializable: true),
    "name" : (rs_type: "String", copyable: false, serializable: true),
    "numeric" : (rs_type: "f64", copyable: true, serializable: true),
    "oid" : (rs_type: "postgres::types::Oid", copyable: true, serializable: true),
    "path" : (rs_type: "geo::LineString<f64>", copyable: false, serializable: true),
    "point" : (rs_type: "geo::Point<f64>", copyable: false, serializable: true),
    "polygon" : (rs_type: "geo::Polygon<f64>", copyable: false, serializable: true),
    "text" : (rs_type: "String", copyable: false, serializable: true),
    "time" : (rs_type: "chrono::NaiveTime", copyable: true, serializable: true),
    "timestamp" : (rs_type: "chrono::NaiveDateTime", copyable: true, serializable: true),
    "timestamptz" : (rs_type: "chrono::DateTime<chrono::Utc>", copyable: true, serializable: true),
    "timetz" : (rs_type: "chrono::NaiveTime", copyable: true, serializable: true),
    "trigger" : (rs_type: "trigger", copyable: true, serializable: true),
    "uuid" : (rs_type: "uuid::Uuid", copyable: true, serializable: true),
    "varbit" : (rs_type: "bitvec::BitVec", copyable: false, serializable: true),
    "varchar" : (rs_type: "String", copyable: false, serializable: true),
    "void" : (rs_type: "()", copyable: true, serializable: true),
    "xml" : (rs_type: "String", copyable: false, serializable: true),
}
